<!DOCTYPE html>
<html>
    <head>
        <title>Technical Skills</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="print-style.css" media="print"/>
    </head>
    <body>
        <nav id="navigation">
            <ul class="no-bullet nav">
                <li v-for="link in links">
                    <a v-bind:href="link.href" class="nav-item" v-bind:class="{ selected: isSelected(link.name) }">{{link.name}}</a>
                </li>
            </ul>
        </nav>
        <main class="content" id="app">
            <header>
                <h1>Work Experience</h1>
            </header>
            <article>
                <h2>Prior Roles</h2>
                <ol class="roman">
                    <li v-for="experience in experiences">
                        <img v-bind:src="experience.ImageLink"  alt="{{experience.Company}} Logo" v-bind:height="logoSquareSize" v-bind:width="logoSquareSize" /> 
                        - {{ experience.Position }}: {{ experience.Years }} years and {{ experience.Months }} months.
                        <small>{{ experience.TimeWorked }}</small>
                        <ul>
                            <li v-for="note in experience.Notes">{{ note }}</li>
                        </ul>
                    </li>
                </ol>
            </article>
        </main>

        <!-- Load JS last -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="ajax.js"></script>
        <script src="navigation.js"></script>
        <script src="work-experience.js"></script>
    </body>
</html>